$background-color: #191919;

.editor {
  flex: 1;
  overflow: hidden scroll;

  &__area {
    padding: 0 3rem 3rem 3rem;
    font-size: 1.7rem;
    text-align: left;
    background-color: $background-color;
    color: #f2f2f2;
    min-height: 100vh !important;
    line-height: 1;
  }

  &__styles {
    &--quote {
      border-left: 2px solid grey;
      color: grey;
      padding-left: 1rem;
      margin-left: 0;
    }

    &--numbered {
      margin: 8px 0px 8px -5px;
    }

    &--bulleted {
      margin: 8px 0px 8px -5px;
    }

    &--checklist {
      display: flex;
      align-items: center;
      margin: 8px 5px;

      &-input {
        margin-right: 1rem;
        cursor: pointer;

        &:checked + span {
          color: grey;
          text-decoration: line-through;
        }
      }
    }

    &--code {
      background-color: #87837826;
      color: #eb5757;
      padding: 5px;
      border-radius: 4px;
      font-size: 1.4rem;
    }

    &--hyperlink {
      color: blue;
    }
  }

  &__share {
    background-color: $background-color;
    text-align: right;
    margin-bottom: -2.3rem;

    &--btn {
      width: 6rem;
      height: 2.5rem;
      font-size: 1.4rem;
      font-weight: 600;
      margin: 1rem;
      border-radius: 3px;
      cursor: pointer;
      background-color: $background-color;
      color: white;
      border: none;
      transition: all 0.2s;

      &:hover {
        background-color: #303030;
      }
    }

    &--menu {
      width: 30rem;
      height: 15rem;
      padding: 5rem 1rem 1rem 1rem;

      z-index: 9;
      position: absolute;
      top: 5rem;
      right: 3rem;

      background-color: #252525;
      color: white;
      transition: all 0.3s;

      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;

      &-input {
        font-size: 1.3rem;
        padding: 3px 6px;
        border-radius: 3px;
        background-color: #f5f5f5;
        height: 2rem;
        width: 20rem;
        margin: 0 1rem 1rem 0;
        border: none;
        box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px inset;

        &:focus {
          box-shadow: 0 0 5px rgba(81, 203, 238, 1);
          outline: none;
        }
      }

      &-btn {
        font-size: 1.3rem;
        font-weight: 600;
        width: 5rem;
        height: 2.6rem;
        background-color: #fdf5f2;
        border-radius: 3px;
        // margin-top: 1rem;
        cursor: pointer;
        color: #eb7575;
        border: none;
        box-shadow: rgb(15 15 15 / 10%) 0px 1px 2px,
          rgb(235 87 87 / 30%) 0px 0px 0px 1px inset;
        transition: all 0.3s;

        &:hover {
          background-color: #f8f8f8;
        }
      }

      &-closeBtn {
        position: absolute;
        top: 5px;
        right: 5px;

        background-color: inherit;
        color: white;
        font-size: 2rem;
        border: none;
        cursor: pointer;
      }
    }
  }

  &__menu {
    opacity: 1;
    background-color: #252525;
    z-index: 999;
    position: absolute;
    border-radius: 1rem;
    width: 25rem;
    height: 30rem;
    overflow-y: scroll;
    cursor: pointer;

    &--item {
      padding: 0;
      margin: 0;
      color: white;
      text-align: left;

      &-label {
        display: block;
        font-size: 1.8rem;
        margin: 0 0 5px 0;
        font-weight: bold;
      }

      &-subtext {
        display: block;
        font-size: 1.4rem;
        color: lightgrey;
        margin: 0;
      }

      &:hover,
      &:active {
        background-color: #404040;
      }
    }
  }

  &__loading {
    min-height: 100vh;
    background-color: #191919;

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}

.rc-menu {
  box-shadow: 0 0 10px 1px #d9d9d9 !important;
  border-radius: 10px !important;

  &-item-active {
    background-color: #404040 !important;
    outline: none !important;
  }
}
