.editor {
  flex: 1;
  overflow-y: scroll;

  &__area {
    padding: 3rem;
    font-size: 1.7rem;
    text-align: left;
    background-color: #191919;
    color: #f2f2f2;
    min-height: 100vh;
    line-height: 1;
  }

  input[type="checkbox"]:checked + span {
    color: grey;
    text-decoration: line-through;
  }

  &__styles {
    &--quote {
      border-left: 2px solid grey;
      color: grey;
      padding-left: 1rem;
      margin-left: 0;
    }

    &--lists {
      margin: 8px 2px;
    }

    &--checklist {
      display: flex;
      align-items: center;
      margin: 8px 5px;

      &-input {
        margin-right: 1rem;
        cursor: pointer;
      }
    }

    &--code {
      background-color: #87837826;
      color: #eb5757;
      padding: 5px;
      border-radius: 4px;
      font-size: 1.4rem;
    }
  }

  &__menu {
    opacity: 1;
    background-color: #191919;
    z-index: 999;
    position: absolute;
    width: 12rem;
    height: 10rem;
    overflow-y: scroll;
    cursor: pointer;
  }
}
