$background-color: #202020;

.sidebar {
  background-color: $background-color;
  width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__logo {
    margin: 2rem auto;
    display: flex;

    &--icon {
      width: 9rem;
      height: 5rem;
    }
  }

  &__btn {
    font-size: 1.4rem;
    font-weight: 600;
    height: 3rem;
    width: 7rem;
    background-color: $background-color;
    border-radius: 3px;
    margin: 1.5rem auto;
    cursor: pointer;
    color: white;
    border: none;
    transition: all 0.2s;

    &:hover {
      background-color: #303030;
    }
  }
}
