.sidebar {
  background-color: #202020;
  width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__logo {
    width: 15rem;
    height: 10rem;

    display: flex;
    align-self: start;
  }

  &__menu {
    overflow-y: scroll;
    height: 30rem;
    font-size: 1.4rem;

    &--headers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 10px;

      &--title {
        text-align: left;
        color: #ffffff;
        opacity: 0.5;
        font-size: 1.2rem;
        font-weight: 600;
        margin-left: 7px;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      &--btn {
        border: 1px solid white;
        background-color: transparent;
        height: 1.8rem;
        cursor: pointer;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &--options {
      width: 80%;
      padding: 0 10%;
      background-color: #202020;
      color: white;
      height: 2.5rem;
      text-align: left;
      cursor: pointer;

      display: flex;
      align-items: center;

      &:hover {
        background-color: #505050;
      }

      &--active {
        background-color: #505050;
        font-weight: bold;
      }
    }
  }

  &__btn {
    font-size: 1.4rem;
    font-weight: 600;
    height: 4rem;
    background-color: #fdf5f2;
    border-radius: 3px;
    margin: 1rem;
    cursor: pointer;
    color: #eb7575;
    border: none;
    box-shadow: rgb(15 15 15 / 10%) 0px 1px 2px,
      rgb(235 87 87 / 30%) 0px 0px 0px 1px inset;
    transition: all 0.3s;

    &:hover {
      background-color: #f8f8f8;
    }
  }
}
